//font styling
$bodyfont: 'Lato', sans-serif;
$headerfont: 'Poppins', sans-serif;
$header1size: 2.5rem;
$header2size: 1.7rem;
$mainfontsize: 1.2rem;

//colors
$colorprimary: #082B59;
$colorsecondary: #59331d;
$coloraccent: #d98555;
$colorwhite: #f2f2f2;
$buttonbg: #59331d;
$buttontext: #f2f2f2;
$hovercolor: #d98555;

//images
$imgradius: 10px;