html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #082B59;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  line-height: 2;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
}

/* make images flexible */
img {
  max-width: 100%;
  border-radius: 10px;
}

a {
  color: #59331d;
  border: #f2f2f2;
}

a:hover {
  text-decoration: none;
}

/* establishes a white background */
.main-bkgd {
  background: #ffffff url(../media/images/gulp-bottom-beans.jpg) repeat-x bottom;
  padding-bottom: 300px;
}

/* sits inside of the white background, centered */
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: block;
}

/*home page styling starts here*/
em {
  font-style: italic;
}

header {
  border-bottom: 10px solid #d98555;
}

/*mobile first navbar is vertical with centered buttons and logo*/
nav {
  margin: 0 1rem;
  /*remove padding, margin, and list styling for all screen sizes*/
  /* styling options for buttons across all breakpoints, margin and text align are mobile specific */
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav a {
  font-size: 1.2rem;
  color: #f2f2f2;
  text-decoration: none;
  display: block;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  padding: 0.5rem 1rem;
  /*for mobile dimensions only*/
  text-align: center;
}

/*flex basis on image container, li*/
nav .logo {
  flex-basis: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  /*max width on the image in pixels */
}
nav .logo img {
  max-width: 200px;
}
nav .logo a {
  margin: 0;
  padding: 0;
}

/*hover options for all breakpoints*/
nav a:hover {
  color: #d98555;
}

/*tablet formatting*/
@media (min-width: 600px) {
  /* switches nav bar links to horizontal row, increases max logo img width, and increases touch space of nav bar links */
  nav {
    margin-left: 0;
  }
  nav ul {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
  }
  nav a {
    margin: 0.5rem 0.5rem 2rem 0.5rem;
  }
}
/*desktop formatting*/
@media (min-width: 992px) {
  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  nav ul a {
    margin-top: 5rem;
  }
  nav ul .logo {
    flex-basis: auto;
    margin-right: auto;
  }
}
/* footer formatting */
footer {
  color: #f2f2f2;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding: 0 0.5rem;
}

.copyright {
  margin: 0.5rem 0 0 0;
  padding: 0;
  font-size: 1.2rem;
}

.disclaimer {
  font-size: 1rem;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer a {
  color: #f2f2f2;
  font-size: 2rem;
  display: block;
  margin: 0 1rem 3rem 1rem;
  padding: 1rem;
}

/*increases touch space of social media links*/
@media (min-width: 600px) {
  footer a {
    padding: 0.5rem 2rem;
  }
}
/* reduces space of social media links at desktop sizes */
@media (min-width: 992px) {
  footer a {
    padding: 0.5rem 0.5rem;
  }
}
article {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.pourover {
  margin-top: 3rem;
  justify-self: center;
}

.button {
  display: inline-block;
  background-color: #59331d;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: #f2f2f2;
  align-items: center;
  text-decoration: none;
  border: 3px solid #59331d;
  font-size: 1.2rem;
}

.button:hover {
  background-color: #f2f2f2;
  color: #59331d;
}

#prodheader {
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  margin: 0.5rem;
}
.card h2, .card p {
  font-size: 1.2rem;
}

.contacttext p {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

#menupic {
  margin-top: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 327px;
  height: 200px;
}

.homebody {
  display: flex;
  flex-flow: column nowrap;
  margin: 3rem 2rem;
  padding: 0;
  gap: 0.5rem;
  border-radius: 25px;
  border: 10px double #59331d;
}

/* grid allows for text and buttons to stack while maintaining a uniform width */
.hometext {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr;
}

.hometext p {
  margin: 0;
  padding: 0;
}

#homebutton {
  justify-self: center;
  align-self: center;
}

#homeimg {
  border-radius: 0 0 1rem 1rem;
  margin: 0;
}

@media (min-width: 600px) {
  /*displays main content in a row for all pages unless otherwise specified*/
  .main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  /* about page styling starts here */
  article {
    flex-basis: 54%;
  }
  .pourover {
    flex-basis: 44%;
    padding-left: 0.5rem;
  }
  /*displays products page content cards in a row and limits the images max width to a uniform size*/
  .card {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 1rem;
  }
  .card img {
    max-width: 25rem;
    margin: 0;
  }
  .card h2 {
    margin-top: 0;
  }
  /* contact page becomes flex row to display text & image side by side */
  #contactmain {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }
  .contacttext {
    margin-right: auto;
  }
  /* overrides the mobile menu image crop */
  #menupic {
    max-width: 100%;
    height: auto;
    width: auto;
  }
}
@media (min-width: 992px) {
  /*home page styling*/
  .homebody {
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
    margin: 2rem 1rem;
  }
  #homeimg {
    border-radius: 1rem 0 0 1rem;
  }
  /* products styling */
  .productslist {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
  }
  .productslist h2 {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
  }
  .productslist p {
    font-size: 1.1rem;
  }
  /* removes card styling so images and text can be displayed as separate chunks of content in grid */
  .card {
    display: contents;
  }
  /* image top margin lines up header text with tops of images */
  #xpresso,
  #tblend,
  #lroasted {
    grid-column: span 4;
    grid-row: span 1;
    max-width: 100%;
    margin-top: 1rem;
  }
  #xpressotext,
  #tblendtext,
  #lroastedtext {
    grid-column: span 4;
    grid-row: span 1;
  }
}/*# sourceMappingURL=styles.css.map */